* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80vw;
  max-width: 330px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  -webkit-box-shadow: 8px 8px 24px 0px hsla(220, 15%, 55%, 0.7);
  -moz-box-shadow: 8px 8px 24px 0px hsla(220, 15%, 55%, 0.7);
  box-shadow: 8px 8px 24px 0px hsla(220, 15%, 55%, 0.7);
}
.container > * {
  margin-bottom: 20px;
}
.container img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 5%;
}
.container h3 {
  font-size: 1.5rem;
  color: hsl(218, 44%, 22%);
}
.container p {
  color: hsl(220, 15%, 55%);
}
