:root {
  --blue: hsl(223, 87%, 63%);
  --paleblue: hsl(223, 100%, 88%);
  --lightred: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --darkblue: hsl(209, 33%, 12%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  font-family: "Libre Franklin", sans-serif;
  color: var(--darkblue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
main {
  width: 80vw;
  /* height: 60vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
main h1 {
  font-weight: 300;
  color: var(--gray);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
b {
  color: var(--darkblue);
  font-weight: 700;
}
main h2 {
  font-weight: 300;
  color: var(--darkblue);
  font-size: 0.8rem;
  margin-bottom: 20px;
}
.dashboard-img {
  width: 100%;
}
.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}
.mail-input {
  width: 100%;
  border: 1px solid var(--paleblue);
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 8px;
}
.mail-input::placeholder {
  color: var(--paleblue);
}
.mail-input:focus {
  outline: none;
  border: 1px solid var(--blue);
}
.error-string {
  color: var(--lightred);
  font-size: 0.7rem;
  margin-bottom: 20px;
  text-align: center;
  font-style: italic;
  font-weight: 300;
}
.invisible {
  display: none;
}
.notify-btn {
  width: 100%;
  border: 1px solid var(--blue);
  background: var(--blue);
  font-weight: 600;
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 24px 0px rgba(79, 125, 243, 0.5);
  -moz-box-shadow: 6px 6px 24px 0px rgba(79, 125, 243, 0.5);
  box-shadow: 6px 6px 24px 0px rgba(79, 125, 243, 0.5);
  cursor: pointer;
}
.notify-btn:hover {
  filter: brightness(120%);
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-container {
  margin-bottom: 20px;
}
.social-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--paleblue);
  background-color: #fff;
  color: var(--blue);
  cursor: pointer;
}
.social-btn:hover {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
}
.social-btn:hover a {
  color: #fff;
}
a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  color: #fff;
}
a:visited {
  color: var(--blue);
}
a:visited:hover {
  color: #fff;
}
.copyright {
  font-size: 0.8rem;
  color: var(--gray);
}

@media only screen and (min-width: 400px) {
  main {
    width: 60vw;
    max-width: 800px;
    height: 70vh;
  }
  main h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
  main h2 {
    font-size: 1rem;
    margin-bottom: 25px;
  }
  .input-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 80px;
    width: 80%;
  }
  .mail-input {
    margin-bottom: 0px;
    margin-right: 5px;
    width: 70%;
  }
  .notify-btn {
    width: 29%;
  }
  .error-string {
    order: 3;
    margin-top: 5px;
    padding-left: 20px;
    margin-bottom: 0px;
  }
}
